<!DOCTYPE html>
<html>
<head>
  <title>CSRPS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>




<div id='cssmenu'>
<ul>
   <li><%= link_to "Home", root_path =%><span></span></a></li>
   <li><%= link_to "About", topbarpages_about_path =%><span></span></a></li>
   <li><%= link_to "FAQ", topbarpages_faq_path =%><span></span></a></li>
   <li><%= link_to "TERMS OF SERVICE", topbarpages_tos_path =%><span></span></a></li>
   <li><%= link_to "Contact", topbarpages_contact_path =%><span></span></a></li>
   <% if current_user %>
        <li><%= link_to "#{current_user.nickname}", players_path =%><span></span></a></li>
        <a href="<%= current_user.profile_url %>" class="profile"><%= image_tag current_user.avatar_url %></a>
        <li><%= link_to 'Not You?', logout_path, method: :delete %></li>
        <div class="dope"></div>
   <% else %>
        <a href="/auth/steam" class="steam">.</a>
   <% end %>
</ul>
</div>



<%= yield %>
<footer class="footer-distributed">

      <div class="footer-left">

        <p class="footer-links">
          <a href="http://store.steampowered.com/">Powered By Steam</a>
          路
          <a href="http://csgo.steamanalyst.com">Price Analyst</a>
          路
          <a href="#">Provably Fair</a>
          路
          <a href="">Reddit</a>
          路
          <a href="">Twitter</a>
        </p>



        <p>CSGORPS.com &copy; 2015</p>
      </div>

    </footer>

</body>
</html>
